@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Roboto:wght@100&display=swap');

/* General styling for the whole page */

/* Defining colors for color scheme */
:root {
    --primary-color: #35547A;
    --secondary-color: #6E7A95;
    --tertiary-color: #C6D0D0;
    --light-color: #FBF9F9;
    --highlight-color: #8DD4EA;
}

/* Other general styles */
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Amatic SC', sans-serif;
    font-size: 150%;
    text-align: center;
    background-color: var(--primary-color);
}

/* Header */
header {
    margin: 15px;
}

#logo img {
    width: 300px;
}

/* Main section */
main {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--light-color);
}

/* Game Area section */

#game-area {
    border: 5px solid;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    gap: 20px;
}

#rolls {
    color: var(--light-color);
}

#dice img {
    width: 40px;
    height: 40px;
    border: 3px solid transparent;
    border-radius: 10px;
}

#dice img.locked {
    border: 3px solid var(--highlight-color);
    border-radius: 10px;
}

#roll-button {
    width: 125px;
}

#roll-button.active {
    border: 3px solid var(--highlight-color);
}

#roll-button.inactive {
    background-color: var(--tertiary-color);
}

#roll-button.inactive:hover {
    background-color: var(--tertiary-color);
}

/* Scoresheet section */
#scoresheet-area {
    width: 300px;
    margin: 30px;
}

#scoresheet-area table {
    width: 100%;
    text-align: left;
}

#scoresheet-area table, #scoresheet-area td, #scoresheet-area th {
    border: 1px solid;
    border-collapse: collapse;
    padding: 5px;
}

#scoresheet-area th {
    background-color: var(--primary-color);
    color: var(--light-color);
    font-weight: bold;
    letter-spacing: 5px;
    text-align: center;
    border-color: black;
}

#scoresheet-area table .scores {
    text-align: center;
    width: 50px;
}

#scoresheet-area tr:hover {
    background-color: var(--highlight-color);
}

#total-score {
    margin: 15px;
    font-size: 150%;
}

/* Rules and Highscores Section */
#rules-area, #highscores-area {
    background-color: var(--primary-color);
    color: var(--light-color);
    padding: 30px;
}

#rules-area p {
    margin-bottom: 30px;
}

#highscores-area {
    width: 100%;
}

#highscores {
    margin-top: 30px;
    border: transparent;
    /* table-layout: fixed; */
    width: 100%;
    height: 600px;
    font-size: 150%;
}

#highscores tr {
    height: 25px;
}

#highscores tr:nth-child(odd) {
    background-color: var(--secondary-color);
}

#highscores th {
    background-color: var(--primary-color);
}

/* Footer section */

footer {
    margin: 15px;
}

/* Button styles */
.btn {
    font-family: 'Amatic SC', sans-serif;
    border: 3px solid;
    border-radius: 10px;
    font-size: 115%;
    padding: 0 10px 0 10px;
    background-color: var(--light-color);
    margin: 30px;
}

.btn:hover {
    background-color: var(--highlight-color);
}

/* Media queries for screens with width smaller than 750px */

@media screen and (max-width: 750px) {
    main {
        flex-direction: column;
        
    }
    #game-area {
        margin-top: 30px;
    }
}